<div class="container">
    <div>
        <h3 class="text-primary"> Login</h3>
    </div>
    <div class="col-sm-4 panel panel-default">
      <div class="panel-body">
    <form [ngFormModel]="loginForm" #f="ngForm" (submit)="login(f.value)">
        <p>
          <span class="text-warning">Email Id : </span>
          <input class="text-warning pull-right" ngControl="email" placeholder="Email" aria-label="email" autocomplete="off">
        </p>
        <p>
          <span class="text-warning">Password : </span>
        <input class="text-warning pull-right" type="password" placeholder="Password" ngControl="password" aria-label="password" autocomplete="off">
      </p>
            <button class="btn btn-primary" type="submit" aria-label="login">Sign In</button>
    </form>
  </div>
    <div class="row" [hidden]="error == ''">
      <p class="text-danger">{{ error }}</p>
    </div>

    <div>
          <button class="btn btn-success" [routerLink]="['/SignUp']">Need an account?</button>
    </div>
    </div>
</div>
